.vs
FirstProject/bin
FirstProject/obj
SeventhProject/bin
SeventhProject/obj
ArrList/bin
ArrList/obj
DisignerDictionary/bin
DisignerDictionary/obj
DisignerList/bin
DisignerList/obj
GenericFactory/bin
GenericFactory/obj